@font-face {
   font-family: '911Fonts';
   font-display: swap;
   src: url('file:///C:/Users/ankit/Desktop/Genuine%20Filings_Working/GenuineFilings_Site%20Back-up_Mobirise/fonts/911Fonts/font.com_ComicSansMSRegular__-_911fonts.com_fonts_BpCS.ttf');
}
